---
interface Props {
  cv: CV
}
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import Section from '../Section.astro'
import type { CV } from '@/cv'

const { basics } = Astro.props.cv
const { summary } = basics
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Section title={t('about.title')}>
  <p>
    {summary}
  </p>
</Section>
