---
interface Props {
  cv: CV
}
import Section from '../Section.astro'
import type { CV } from '@/cv'

const { basics } = Astro.props.cv
const { summary } = basics
---

<Section title='Sobre mí'>
  <p>
    {summary}
  </p>
</Section>
